body {
    color: rgb(61, 21, 21);
    text-shadow: 1px 1px 3px black;
    text-align: center;
    background-color: rgb(150, 219, 219);
}
table {
    margin: auto;
    border-spacing: 10px;
    user-select: none;
}
td {
    background-color: rgb(241, 249, 233);
    width: 30px;
    height: 30px;
    box-shadow: 1px 1px 3px gray;
    border-radius: 4px;
    cursor: pointer;
}
td.X0 {
    background-color: rgb(214, 202, 225);
}
td.X1 {
    background-color: rgb(183, 159, 206);
}
td.X2 {
    background-color: rgb(157, 129, 183);
}
td.X3 {
    background-color: rgb(127, 94, 158);
}
td.X4 {
    background-color: rgb(138, 81, 149);
}
td.X5 {
    background-color: rgb(108, 59, 106);
}
td.X6 {
    background-color: rgb(134, 22, 117);
}
td.Z {
    background-color: rgb(255, 0, 0);
}